WebCalculator/Connected Services/CalcResult/CalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Initialize">
        <s:complexType />
      </s:element>
      <s:element name="InitializeResponse">
        <s:complexType />
      </s:element>
      <s:element name="Calculation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="signOperation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secondNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="totalString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fraction" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculationResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ButtonPressed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="digit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="firstNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="signOperation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secondNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="totalString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fraction" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ButtonPressedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ButtonPressedResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignPressed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sign" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="signOperation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secondNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="totalString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fraction" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignPressedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignPressedResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sub">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Div">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InitializeSoapIn">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="InitializeSoapOut">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="CalculationSoapIn">
    <wsdl:part name="parameters" element="tns:Calculation" />
  </wsdl:message>
  <wsdl:message name="CalculationSoapOut">
    <wsdl:part name="parameters" element="tns:CalculationResponse" />
  </wsdl:message>
  <wsdl:message name="ButtonPressedSoapIn">
    <wsdl:part name="parameters" element="tns:ButtonPressed" />
  </wsdl:message>
  <wsdl:message name="ButtonPressedSoapOut">
    <wsdl:part name="parameters" element="tns:ButtonPressedResponse" />
  </wsdl:message>
  <wsdl:message name="SignPressedSoapIn">
    <wsdl:part name="parameters" element="tns:SignPressed" />
  </wsdl:message>
  <wsdl:message name="SignPressedSoapOut">
    <wsdl:part name="parameters" element="tns:SignPressedResponse" />
  </wsdl:message>
  <wsdl:message name="SumSoapIn">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="SumSoapOut">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="SubSoapIn">
    <wsdl:part name="parameters" element="tns:Sub" />
  </wsdl:message>
  <wsdl:message name="SubSoapOut">
    <wsdl:part name="parameters" element="tns:SubResponse" />
  </wsdl:message>
  <wsdl:message name="MultSoapIn">
    <wsdl:part name="parameters" element="tns:Mult" />
  </wsdl:message>
  <wsdl:message name="MultSoapOut">
    <wsdl:part name="parameters" element="tns:MultResponse" />
  </wsdl:message>
  <wsdl:message name="DivSoapIn">
    <wsdl:part name="parameters" element="tns:Div" />
  </wsdl:message>
  <wsdl:message name="DivSoapOut">
    <wsdl:part name="parameters" element="tns:DivResponse" />
  </wsdl:message>
  <wsdl:portType name="CalServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Initialize">
      <wsdl:input message="tns:InitializeSoapIn" />
      <wsdl:output message="tns:InitializeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Calculation">
      <wsdl:input message="tns:CalculationSoapIn" />
      <wsdl:output message="tns:CalculationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ButtonPressed">
      <wsdl:input message="tns:ButtonPressedSoapIn" />
      <wsdl:output message="tns:ButtonPressedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignPressed">
      <wsdl:input message="tns:SignPressedSoapIn" />
      <wsdl:output message="tns:SignPressedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:input message="tns:SumSoapIn" />
      <wsdl:output message="tns:SumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <wsdl:input message="tns:SubSoapIn" />
      <wsdl:output message="tns:SubSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mult">
      <wsdl:input message="tns:MultSoapIn" />
      <wsdl:output message="tns:MultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Div">
      <wsdl:input message="tns:DivSoapIn" />
      <wsdl:output message="tns:DivSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalServiceSoap" type="tns:CalServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Initialize">
      <soap:operation soapAction="http://tempuri.org/Initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calculation">
      <soap:operation soapAction="http://tempuri.org/Calculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ButtonPressed">
      <soap:operation soapAction="http://tempuri.org/ButtonPressed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignPressed">
      <soap:operation soapAction="http://tempuri.org/SignPressed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap:operation soapAction="http://tempuri.org/Sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mult">
      <soap:operation soapAction="http://tempuri.org/Mult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Div">
      <soap:operation soapAction="http://tempuri.org/Div" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalServiceSoap12" type="tns:CalServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Initialize">
      <soap12:operation soapAction="http://tempuri.org/Initialize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calculation">
      <soap12:operation soapAction="http://tempuri.org/Calculation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ButtonPressed">
      <soap12:operation soapAction="http://tempuri.org/ButtonPressed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignPressed">
      <soap12:operation soapAction="http://tempuri.org/SignPressed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap12:operation soapAction="http://tempuri.org/Sum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap12:operation soapAction="http://tempuri.org/Sub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mult">
      <soap12:operation soapAction="http://tempuri.org/Mult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Div">
      <soap12:operation soapAction="http://tempuri.org/Div" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalService">
    <wsdl:port name="CalServiceSoap" binding="tns:CalServiceSoap">
      <soap:address location="http://localhost:21057/CalService.asmx" />
    </wsdl:port>
    <wsdl:port name="CalServiceSoap12" binding="tns:CalServiceSoap12">
      <soap12:address location="http://localhost:21057/CalService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>